.container{
	display: flex;
	flex-wrap: wrap;
	margin-left: 45px;


}





.card {
	max-width: 200px;
	max-width: 200px;
	margin: 20px;
	background: #eee;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3{
	visibility: hidden;
}




 .card:hover {
 	box-shadow: 2px 2px 10px gray;
 	cursor: pointer;
 }

 .card:hover h3{
 	visibility: visible;
 }






.card img {
	height: 200px;

}